.task {
  background: #F5F5F5;
  border-radius: 2px;
  box-shadow: 1px 1px 2px gray;
  padding: 1em;
  margin-top: 1em;
  border-left: 2px solid transparent;
}
.task-finished {
  border-left: 2px solid green;
}
.task-title {
  font-size: 2em;
  display: inline;
}
.task-location {
  display: inline;
}
.task-times {
  font-size: .7em;
}

.task-duration {
  background: darkgray;
  height: 10px;
}

.time-bar {
  display: inline-block;
  border: 1px solid gray;
  padding: 1px;
  margin: 1px;
  line-height: 2;
  overflow: hidden;

}

.work-now {
  background: white;
  border-radius: 4px;
  height: 50px;
  border: 1px solid lightgray;
  overflow: hidden;
  &:hover {
    height: auto;
  }
}
.work-progress {
  height: 8px;
  border-radius: 0;
  margin-bottom: 0
}
.work-content {
  padding: 4px;
}
.work-name {
  font-size: 1.1em;
  height: 20px;
}
.work-duration {
  height: 1.3em;
  width: 150px;
  font-size: 0.9em;
}

.dashboard-start {
  float: right;
}

.navbar-brand > .qlick-logo {
  display: inline;
  width: 20px;
}