<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="qliktimetrackApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">
              <img src="images/qlick.png" class="qlick-logo"> qliktimetrack
            </a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="NavigationCtrl">
            <ul class="nav navbar-nav">
              <li ng-class="{'active': location() == '/dashboard'}">
                <a ng-href="#/dashboard">Dashboard</a>
              </li>
              <li ng-class="{'active': location() == '/new'}">
                <a ng-href="#/new">New Task</a>
              </li>
              <li ng-class="{'active': location() == '/time'}">
                <a ng-href="#/time">Time</a>
              </li>
              <li ng-class="{'active': location() == '/chart'}">
                <a ng-href="#/chart">Chart</a>
              </li>
              <li ng-class="{'active': location() == '/about'}">
                <a ng-href="#/about">About</a>
              </li>
              <li>
                <div class="work-now" ng-if="activeTask">
                  <div class="progress work-progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped"
                         ng-class="{active: !isPaused}" role="progressbar" style="width:100%">
                    </div>
                  </div>
                  <div class="work-content">
                    <div class="work-name">
                      {{ activeTask.name }}
                    </div>
                    <div class="work-duration">
                      for {{ activeTask | formatDuration }}
                    </div>
                    <div class="btn btn-default" ng-click="pauseTask()" ng-if="!isPaused">
                      <i class="glyphicon glyphicon-pause"></i>
                    </div>
                    <div class="btn btn-default" ng-click="resumeTask()" ng-if="isPaused">
                      <i class="glyphicon glyphicon-play"></i>
                    </div>
                    <div class="btn btn-primary" ng-click="finishTask()">
                      <i class="glyphicon glyphicon-ok"></i>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Qlik team</p>
      </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/chartjs/dist/Chart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/tasks.js"></script>
        <script src="scripts/services/notify.js"></script>
        <script src="scripts/filters/filters.js"></script>

        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/navigation.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/time.js"></script>
        <script src="scripts/controllers/new.js"></script>
        <script src="scripts/controllers/chart.js"></script>
        <!-- endbuild -->
</body>
</html>
