<h1>Dashboard</h1>


<div ng-if="activeTask" ng-if="activeTask">
  currently working on:
  <div class="alert alert-success">
    <div class="dashboard-start">
      <button class="btn btn-default" ng-if="!isPaused" ng-click="pause()">
        <i class="glyphicon glyphicon-pause"></i> pause
      </button>
      <button class="btn btn-default" ng-if="isPaused" ng-click="resume()">
        <i class="glyphicon glyphicon-play"></i> resume
      </button>
      <button class="btn btn-primary" ng-click="finish()">
        <i class="glyphicon glyphicon-ok"></i> finished
      </button>
    </div>
    <h2>{{ activeTask.name }}</h2>
     {{ activeTask.description }}
     <br />
     {{activeTask | formatDuration}}
  </div>
</div>


<div ng-if="tasks.length == 0" class="alert alert-info">
  You currently have no tasks, go ahead and <a ng-href="#/new" class="btn btn-primary">create a new one</a>
</div>


<div ng-if="notificationsSupported && !notificationsActive" class="alert alert-info">
  Get Realtime updates.
  <a class="btn btn-primary" ng-click="activateNotifications()">
    Enable Notifications
  </a>
</div>


<div ng-if="tasks.length > 0">

  <form class="form-inline">

    <div class="form-group">
      <label for="searchInput">Search:</label>
      <input name="search" ng-model="$parent.searchInput" id="searchInput" class="form-control">
    </div>

    <div class="form-group">
      <label for="orderInput">Order:</label>
      <select name="order" ng-model="order" id="orderInput" class="form-control">
        <option value="id">Oldest</option>
        <option value="-id">Latest</option>
        <option value="name">Name</option>
        <option value="name">Duration spent</option>
      </select>
    </div>

     <div class="form-group">
      <label for="hideFinished">hide finished</label>
      <input type="checkbox" ng-model="$parent.hideFinished" id="hideFinished" class="form-control">
    </div>

  </form>

  <div ng-repeat="task in tasks | orderBy: order | filter: taskFilter track by task.id" class="task" ng-class="{'task-finished': task.finished}">
    <button class="btn btn-primary dashboard-start" ng-if="!task.finished" ng-click="startWork(task.id)">
      <i class="glyphicon glyphicon-play"></i> start Working
    </button>

    <div class="task-title">{{ task.name }}</div>
    <span class="task-location">
      Location: {{ task.location }}, Id: {{ task.id }}
    </span>

    <div class="task-description">
      {{ task.description }}
    </div>
    <div class="task-times">
      time spent: {{ task |formatDuration }}
    </div>

    <div class="task-duration" style="width: {{ getDurationLength(task) }}%"></div>

  </div>
</div>