<h1>Create a new Task</h1>

<p>
  You currently have {{ tasks.length }} tasks.
</p>

<form class="form-horizontal" name="newTaskForm">
  <div class="form-group" ng-class="{'has-error': newTaskForm.name.$touched && newTaskForm.name.$invalid}">
    <label for="inputName" class="col-sm-2">Name</label>
    <div class="col-sm-10">
      <input name="name" id="inputName" ng-model="name" class="form-control" required />
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': newTaskForm.location.$touched && newTaskForm.location.$invalid}" >
    <label for="inputLocation" class="col-sm-2">Location</label>
    <div class="col-sm-10">
      <input name="location" id="inputLocation" ng-model="location" class="form-control" required />
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': newTaskForm.description.$touched && newTaskForm.description.$invalid}">
    <label for="inputDescription" class="col-sm-2">Description</label>
    <div class="col-sm-10">
      <textarea name="description" id="inputDescription" ng-model="description" class="form-control" required ></textarea>
    </div>
  </div>
  <div class="alert alert-danger" ng-if="showError">
    You need to fill out all fields.
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" ng-click="createTask($event)">create new Task</button>
    </div>
  </div>
</form>
