<h1>Time</h1>

{{ times }}
<div ng-repeat="time in times" style="width: {{ getWidth(time) }}%; background-color: {{ getColor(time.id) }}" class="time-bar">

  {{ (time.id >= 0 ? tasks[time.id].name : '') }} - dur {{ (time.id >= 0 ? tasks[time.id].duration : '') }}


</div>